body, html {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background: #f3f3f3;
    color: #333;
    font-size: 16px;
    direction: ltr;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}

.main-nav__link {
    text-decoration: none;
    padding: 10px;
    color:#fff;
}

.main-wrapper {
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/783e3b0f-b68e-440e-a980-0e1c19cbe76c/772aef46-c367-4f6c-a63f-e638b77017f0/UA-en-20190318-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-position:center center;
    position: relative;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.header-logo, .footer-logo {
    color:	#f55263;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding:5px 0 0 15px;
    display: block;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.header-logo:hover, .footer-logo:hover {
    color:	#f55263;
    text-decoration: none;
    cursor:pointer;
}
.main-wrapper:before {
    content:'';
    display:block;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.search-title {
    color:#fff;
    text-transform: uppercase;
    margin:10px 0;
    display:block;
}
.search-title--small {
   font-size:12px;
   display:inline-block;

}
.search-btn {
    background: #f55263;
    color:#fff;
    outline:none;
    border:none;
    padding:10px 20px;
    width:10vw;
    margin-top:1vh;
    display:block;
    border-radius:5px;
    align-self: flex-end;
    text-transform: uppercase;
    cursor:pointer;
    text-decoration: none;
    text-align: center;
}
.search-btn:hover {
    background: #f55270;
}
.search-form {
    display: flex;
    flex-direction: column;
}
.search-input {
    background: #010101;
    outline:none;
    border:none;
    padding:20px 45px;
    width: 30vw;
    color:#BFC0C2;
}
.search-field {
    position: relative;
}
.search-symbol {
    position: absolute;
    z-index:1;
    right:15px;
    transform: translateY(-50%) scale(1, -1);
    top:50%;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index:1;
}
.header{
    position:relative;
    z-index: 1;
}
.footer {
    position:relative;
    z-index: 1;
    padding: 10px 0;
    background:#414141;
}
.cta-wrapper {
    position: relative;
    z-index: 1;
    padding-top: 60px;
    margin: 0 auto;
    display: block;

}
.searchBy {
    display: inline-block;
    position: relative;
    top: -30px;

}

.searchBy__btn {
    color:#fff;
    outline:none;
    border:none;
    padding:5px 20px;
    text-transform: uppercase;
    font-size:12px;
    text-decoration: none;
    border-radius:3px;
    margin-left:10px;
}
.searchBy__btn--pink {
    background: #f55263;
}
.searchBy__btn--pink:hover {
    background: #f55280;
}
.searchBy__btn--grey {
    background: #3C3C3C;
}
.searchBy__btn--grey:hover {
    background: #3F3F3F;
}
.searchBy__btn:hover {
    text-decoration: none;
    color:#fff;
    cursor:pointer;
}
.search-result {
    background: #fff;
    position: relative;
    z-index: 1;
    min-height:66.1vh;
}

.search-result__header {
    background:#F5F5F5;
    display:flex;
    padding:20px 0;
    margin-bottom:30px;
}
.search-result__header-title {
    width:50%;
    text-align: center;
    font-weight:bold;
}
.search-result__header-title-active {
    color:#f55263;
}
.search-result__grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 10px;
}
.search-result__grid-item {
    padding:0 15px;
    max-width: 20%;
    margin-bottom: 10px;
}
.item-wrapper {
    position: relative;
    padding: 10px;
}
.year {
    display:inline-block;
    border:1px solid gray;
    padding: 1px 10px;
    position: absolute;
    right:0;
    top: 10px;
    font-size: 11px;
    color:gray;
}
.text {
    float: left;
    width: 80%;
}
.img-wrapper {
    overflow: hidden;
    max-height:430px;
}
.backToResult-btn {
    color:#f55263;
    background: #fff;
    outline:none;
    border:none;
    padding:5px 20px;
    text-transform: uppercase;
    font-size:12px;
    text-decoration: none;
    border-radius:3px;
    position: absolute;
    right: 15px;
    top: -15px;
}
.backToResult-btn:hover {
    text-decoration: none;
    cursor:pointer;
    color:#f55263;
}
.result-description {
    display:flex;
    justify-content: center;
    padding: 10px 0;
}
.result-description__img {
    margin-right:3vw;
}
.result-description__title {
    color:#f55263;
    font-weight:bold;
    font-size: 30px;
}
.result-description__text {
    max-width: 30vw;
    color:#fff;
    padding-top:30px;
}
.result-description__estimate {
    color:lightgreen;
    border-radius: 50%;
    border-color:lightgreen;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    position: relative;
    top: -10px;
    font-size:15px;
    padding: 5px 13px;
}
.result-description__year {
    font-weight:bold;
    display:inline-block;
    margin-bottom:20px;
    margin-top:10px;
}
.result-description__duration {
    font-weight:bold;
    display: inline-block;
    margin-left: 10px;
    margin-bottom:20px;
    margin-top:10px;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-device-width: 1345px) {
    .year {
        position:static;
    }
}
@media only screen and (max-device-width: 992px) {
    .search-title--small {
        font-size:11px;
    }
    .search-btn {
        padding: 10px;
        width:auto;
    }
    .searchBy__btn {
        padding:5px 10px;
    }
    .result-description__text {
        max-width: 50vw;
    }
}
@media only screen and (max-device-width: 662px) {
    .searchBy {
        position: relative;
        top:0;
        text-align: center;
        display: block;
    }
    .search-btn {
        align-self: auto;
    }
    .result-description__text {
        max-width: initial;
        padding: 10px ;
    }
    .result-description {
        align-items: center;
        flex-direction: column;
    }
    .search-result__grid-item {
        max-width:50%;
    }
}
